.headerContainer {
    height: 5rem;
    background: var(--green-800);
}

.headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    img {
        cursor: pointer;
        max-width: 15rem;
    }

    nav {
        list-style-type: none;
        margin-left: 5rem;

        a {
            display: inline-block;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem;
            color: var(--white);

            transition: color 0.2s;

            & + a {
                margin-left: 2rem;
            }

            &:hover {
                color: var(--gray-100);
            }

            &.active {
                border-bottom: 4px solid var(--yellow-100);
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .headerContent {
        nav {
            display: none;
        }
    }
}
